h1 {
  color: black;
}

.entire-main-body {
  height: 100%;
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 5000px;
  align-content: flex-start;
}


/* main body elements start */
.porfolio-performance {
  width: 700px;
  height: 100px;
  background-color: aqua;
  margin-top: 80px;
  margin-left: 180px;
  
}

.porfolio-chart {
  background-color: red;
  width: 700px;
  height: 290px;
  margin-left: 180px;
  
}

.watch-list {
  margin-top: 80px;
  background-color: blueviolet;
  min-height: 200px;
  width: 280px;
  margin-left: 70px;
}

.news-list {
  margin-left: 180px;
  width: 700px;
  height: 4530px;
}

/* main body elements end */

/* news sections styling start*/

/* 
  sample news section
  <h1>Recent News</h1>
    <ul>
      <li>
        <img src="..."/>
        <h2>Title</h2>
        <p>The actual news</p>
      </li>
    </ul>
*/

.news-list ul {
  margin: 0;
  padding: 0;
  width: 600;
  list-style: none;
}

.news-list h1 {
  padding-left: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(122, 118, 118, 0.76);
  font-family: Roboto;
  color: white;
}
.news-list h2 {
  padding-left: 15px;
  color: white;
  font-family: Roboto;
}
.news-list p {
  padding-left: 15px; 
  font-family: Roboto;
}

.news-list img {
  height: 180px;
  width: 240px;
  margin-left: 15px;
  margin-top: 10px;
}
.news-list a {
  width: 690px;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  text-decoration: none;
  color: white;
}

.news-list a:hover {
  background-color: rgba(126, 120, 113, 0.39);
}

/* news sections styling end*/


/* Watch list section styling start */

/* 
<Link to="/" >
  <h3>S</h3>
  <div>
  </div>
  <p>price</p>
</Link>
*/

.watch-list {
  display: flex;
  flex-direction: column;
}

.watch-list h2 {
  margin-left: 15px;
  font-family: Roboto;
  font-size: 16px;
  border-bottom: 1px solid rgba(122, 118, 118, 0.76);
  padding-bottom: 15px;
  margin-top: 25px;
}


.watch-list div {
  height: 50px;
  width: 85px;
  background-color: orange;
  margin-right: 35px;
}

.watch-list a {
  display: flex;
  margin-bottom: 10px;
}
.watch-list ul {
  padding-left: 15px;
  padding-top: 0;
  margin-top: 0;
}

.watch-list h3 {
  display: box;
  width: 80px;
  text-decoration: none !important;
  color: black;
}


.watch-list p {
  font-family: Roboto;
  font-size: 18px;
  color: black;
  text-decoration: none !important;
}

.watch-list a:link{
  text-decoration: none!important;
}

/* Watch list section styling end */