h1 {
  color: black;
}

.entire-main-body {
  height: 100%;
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 5000px;
  align-content: flex-start;
}


/* main body elements start */
.porfolio-performance {
  width: 700px;
  height: 100px;
  background-color: aqua;
  margin-top: 80px;
  margin-left: 180px;
  
}

.porfolio-chart {
  background-color: red;
  width: 700px;
  height: 290px;
  margin-left: 180px;
  
}

.watch-list {
  margin-top: 80px;
  background-color: blueviolet;
  height: 100%;
  width: 280px;
  margin-left: 70px;
}

.news-list {
  background-color: saddlebrown;
  margin-left: 180px;
  width: 700px;
  height: 4530px;
}

/* main body elements end */


/* news sections styling */
/* 
  sample news section

      <ul>
          <li>
            <h2>Title</h2>
            <p>The actual news</p>
          </li>
      </ul>


*/