* {
    font-family: Roboto;
  }



.stock-buy {
  -webkit-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.75), 0px 0px 75px -29px rgba(20, 20, 20, 0.74)inset;
  -moz-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.75), 0px 0px 75px -29px rgba(20, 20, 20, 0.74)inset;
  box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.75),0px 0px 75px -29px rgba(20, 20, 20, 0.74)inset;
  background-color: rgb(27, 27, 28);


  margin-top: 80px;
  background-color: rgb(27, 27, 28);
  min-height: 200px;
  width: 270px;
  margin-left: 70px;
  position: relative;
  left:8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  border-radius: 5px;
  height: 400px;
}


.share-selecter div{
  width: 260px;
  height: 50px;
}

.stock-buy p {
  color: rgb(241, 241, 241);
}


.bsticky {
  position: fixed;
  left: 61.7%;
  padding-top: 12px;

}


.stock-buy h2 {
  width: 140px;
  height: 50px;
  font-size: 16px;
  margin-left: 20px;
  color: white;
}

.share-selector{
  width: 140px;
  margin-left: 20px;
}

.share-selecter p {
  width: 100px;
}
.share-selecter input {
  background-color: black;
  width: 50px;
}


.share-price {
  height: 150px;
  margin-left: 20px;

}

.market-price {
  width: 140px;
  margin-top: 20px;
  margin-left: 20px;
  

}
.market-price p {
  color: rgb(97, 202, 157)
}
.estimated-cost {
  width: 140px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.share-cost{
  height: 150px;

}

.share-ownership button{
  color: red;
  background-color: transparent;
  border-color: transparent;
  font-size: 13px;
}
.share-ownership button:hover {
  cursor: pointer;
}

.share-ownership button:focus {
    outline:none !important;
}
.share-ownership p {
  font-size: 13px;
  color: rgb(97, 202, 157);
  width: 240px;
}

.share-ownership {
  margin-bottom: 20px;
}

.buy-button {
  height: 50px;
  width: 230px;
  margin-left: 20px;
  border-radius: 8px;
  background-color: rgb(97, 202, 157);
  border: 1px solid rgb(97, 202, 157);
  margin-bottom: 20px;
  font-size: 14px;
}

.stock-buy span{
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-bottom: 23px;
}

.buyingPower{
  color: white;
  height: 50px;
  text-align: center;
  font-size: 13px;
}
.divider {
  display: block;
  height: 5px;
  
  border-bottom: 5px solid rgb(0, 0, 0);
}

.number-shares-input {
  width: 80px;
  height: 30px;
  float: right;
  margin-left: 10px;
  position: absolute;
  right: 20px;
  top: 90px;
  background: rgb(23, 23, 24);
  border: 1px solid rgb(17, 17, 17);
  border-radius: 5px;
  text-align: left;
  color: rgb(241, 241, 241);
}
.markey-price{
  width: 60px;
  height: 10px;
  float: right;
  margin-left: 10px;
  position: absolute;
  right: 25px;
  top: 145px;
  color: rgb(250, 250, 250);
  border-radius: 5px;
  font-size: 13px;
  text-align: right;
}
.estimated-cost-calc{
  width: 60px;
  height: 10px;
  float: right;
  margin-left: 10px;
  position: absolute;
  right: 25px;
  top: 203px;
  color: rgb(250, 250, 250);
  border-radius: 5px;
  font-size: 13px;
  text-align: right;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}


.loading-page h1{
  width:800px; 
  height: 200px; 
  line-height: 200px;
  position: absolute;
  top: 35%; margin-top:-100px;
  left: 50%; margin-left:-400px;
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase;
  color: #ccc; text-align:center;
  margin-bottom: 0;
  padding: 10px;
  box-sizing: border-box;
}
.loading-page p {
  width:1200px; 
  height: 300px; 
  line-height: 40px;
  position: absolute;
  top: 65%; margin-top:-100px;
  left: 99px; margin-left:-400px;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #ccc; text-align:center;
  opacity: 0;
}



.helper-text {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  position: relative;
  animation-fill-mode: forwards;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 36%; 
  }
}
@keyframes seconds {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 36%; 
  }
}


.watch-list-button {
  background-color: white;
  position: absolute;
  right: 250px;
  top: 1000px;
}



#watchlist-button{
  height: 50px;
}

.lsticky {
  top: 445px;
  left: 1px;
  padding-top: 12px;
  width: 270px;
  height: 50px;
  border-radius: 8px;
  font-size: 17px;
  text-align: center;
  text-decoration:none;
  color:black;
  font-family:sans-serif;
  display: block;
  padding: 0;
  background-color: rgb(97, 202, 157);
  border: 1px solid rgb(97, 202, 157);
}
.lsticky:hover{
  cursor: pointer;
}

.chart-time {
  color: #000000;
}

.stock-show-span-selectors span{

}

.stock-show-span-selectors p {
  width: 20px;
  height: 20px;
  margin: 0;
  position: relative;
  top: 30px;
  padding: 6px;
}

.stock-show-span-selectors p:hover{
  cursor: pointer;
}

.stock-show-span-selectors{
  height: 10px;
  display: flex;
}

.range-selected {
  color: rgb(97, 202, 157)
}